<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anexo 6</title>
    <link rel="stylesheet" href="/css/vendor/foundation.css" />
    <link rel="stylesheet" href="/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="/owl-carousel/owl.transitions.css">
  </head>
  <body>
    
    <section id="main-header" class="row">
        <header class="medium-6 medium-centered columns text-center">
            <div class="callout">
                <h1>Hello, world! OwlCarousel Demos</h1>
                <h2>Test Asertividad</h2>
            </div>
        </header>
        <nav class="medium-6 medium-centered columns">
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/templates/carousel.html">Carousel 1</a></li>
                <li class="active"><a href="/templates/carousel_2.html">Carousel 2(beta)</a></li>
            </ul>
        </nav>
    </section>
    <section class="row">
        <div class="medium-8 medium-centered columns" >
            <form action="." method="post">
            
                <h3>Bienvenido al formulario</h3>
            
                <div id="owl-form" class="owl-carousel owl-theme" >
                
                    
                
                  <div class="item">
                    <div class="callout" data-equalizer-watch>
                      <label>1 .En una reunión difícil, con un ambiente <span data-tooltip aria-haspopup="true" class="has-tip top" title"Tenso ó Hostil">caldeado</span>, soy capaz de hablar con confianza. 
                          <select>
                            <option value="1">Con frecuencia</option>
                            <option value="2">De vez en cuando</option>
                            <option value="3">Casi nunca</option>
                            <option value="4">Nunca</option>
                          </select>
                        </label>
                        <label>2. Si alguna persona es injusta y agresiva, puedo controlar la situación con confianza.  
                          <select>
                            <option value="1">Con frecuencia</option>
                            <option value="2">De vez en cuando</option>
                            <option value="3">Casi nunca</option>
                            <option value="4">Nunca</option>
                          </select>
                        </label>
                        <label>3. Si alguna persona se muestra irónica conmigo o con otras, puedo responder sin agresividad.  
                          <select>
                            <option value="1">Con frecuencia</option>
                            <option value="2">De vez en cuando</option>
                            <option value="3">Casi nunca</option>
                            <option value="4">Nunca</option>
                          </select>
                        </label>
                       <p class="text-center"><a class="hollow button success next">Siguiente</a></p>
                    </div>
                  </div>
                  <div class="item">
                      <div class="callout" data-equalizer-watch>
                      <label>4. Si no estoy segura de una cosa, puedo pedir ayuda fácilmente.
                          <select>
                            <option value="1">Con frecuencia</option>
                            <option value="2">De vez en cuando</option>
                            <option value="3">Casi nunca</option>
                            <option value="4">Nunca</option>
                          </select>
                        </label>
                        <label>5. Si creo que se está abusando de mí, soy capaz de denunciarlo sin alterarme. 
                          <select>
                            <option value="1">Con frecuencia</option>
                            <option value="2">De vez en cuando</option>
                            <option value="3">Casi nunca</option>
                            <option value="4">Nunca</option>
                          </select>
                        </label>
                        <label>6. Si alguna persona me pide permiso para hacer algo que no me gusta, por ejemplo, fumar, puedo decirle que no sin sentirme culpable.  
                          <select>
                            <option value="1">Con frecuencia</option>
                            <option value="2">De vez en cuando</option>
                            <option value="3">Casi nunca</option>
                            <option value="4">Nunca</option>
                          </select>
                        </label>

                    <div class="row">
                        <div class="small-6 columns">
                            <a class="hollow button secondary expanded prev">Anterior</a>
                        </div>
                        <div class="small-6 columns">
                            <a class="hollow button success expanded next">Siguiente</a>
                        </div>
                    </div>
                       
                    </div> <!-- ENdPanel-->
                  </div><!-- EndItem -->
                  <div class="item">
                      <div class="callout" data-equalizer-watch>
                          <h3>Gracias por Contestar todas las preguntas</h3>
                          <p>Ya solo falta enviar la información, pulsa el boton enviar</p>
                          <p class="text-center"><a class="hollow button secondary prev">Regresar</a><a data-open="thanksrv" class="hollow button">Enviar Datos</a></p>
                      </div>
                      
                  </div>
                 
                </div> <!-- END owldemo-->               
            </form>
        </div>
    </section>
    <footer class="row">
        <div class="medium-6 medium-centered columns">
            <h3>Demo with <a target="_blank" href="http://owlgraphic.com/owlcarousel">Owl-carousel</a> & <a target="_blank" href="http://foundation.zurb.com/sites/docs/">Foundation 6</a> <small>Made with Love <3 </small></h3>
        </div>
    </footer>
    <div class="reveal" id="thanksrv" data-reveal>
      <h3>Gracias por Contestar todas las preguntas</h3>
      <p>Si gustas puedes regresar al inicio</p>
      <a href="/" class="hollow button secondary">Inicio</a>
    </div>

    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/vendor/what-input.min.js"></script>
    <script src="/js/vendor/foundation.min.js"></script>
    <script src="/owl-carousel/owl.carousel.min.js"></script>
    <script>
      $(document).foundation();
      $("#owl-form").owlCarousel({
 
      
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true,
      navigationText : ["Anterior", "Siguiente"],
      mouseDrag : false,
      touchDrag : false,
      autoHeight : true,
      transitionStyle:"goDown"
      });
      var owl = $("#owl-form");
      $(".next").click(function(){
        owl.trigger('owl.next');
      });
      $(".prev").click(function(){
        owl.trigger('owl.prev');
      });
    </script>

  </body>
</html>